
create database [BD_contabilidad]
go
USE [BD_contabilidad]
GO
CREATE TABLE [dbo].[t_libro_diario](
	[id_asiento] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[detalle] [varchar](100) NULL,
	[folio] [int] NULL,
	[debe] [varchar](15) NULL,
	[haber] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[t_cuentas](
	[id_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[detalle] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

create function [dbo].[suma_saldo] (@valor1 varchar(15), @valor2 varchar(15)) returns float
as
begin
declare @valor float
if (convert(float,@valor1)-convert(float,@valor2)) >= 0
begin
set @valor = (convert(float,@valor1)-convert(float,@valor2))
end	
else
begin
set @valor = 0
end
return @valor
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[libro_mayor]
as
SELECT detalle, SUM(CONVERT(float, debe)) AS debe, SUM(CONVERT(float, haber)) AS haber
FROM t_libro_diario
WHERE ((detalle not like '%-----%'))
GROUP BY detalle
GO

CREATE PROCEDURE [dbo].[insertar_glosa]
(
	@fecha date,
	@detalle varchar(100)
)
AS
	SET NOCOUNT OFF;
INSERT INTO [dbo].[t_libro_diario] ([fecha], [detalle], [folio], [debe], [haber]) VALUES (@fecha, @detalle, null, null, null)
GO

CREATE PROCEDURE [dbo].[insertar_cuenta]
(
	@nombre varchar(50),
	@detalle varchar(100)
)
AS
	SET NOCOUNT OFF;
INSERT INTO [t_cuentas] ([nombre], [detalle]) VALUES (@nombre, @detalle)
GO

create function [dbo].[folio](@cuenta varchar(80)) returns decimal
as
begin
	declare @folio decimal
	--calcula el folio mayor
	 set @folio = (select count(distinct folio) from t_libro_diario where folio is not null) + 1
		--busca si el folio ya existe
	if exists (select distinct detalle from t_libro_diario where detalle = @cuenta)
	begin
	set @folio = (select distinct folio from t_libro_diario where detalle = @cuenta)
	end
	return @folio
end
GO

CREATE PROCEDURE [dbo].[eliminar_diario]
(
	@Original_id_asiento int
)
AS
	SET NOCOUNT OFF;
DELETE FROM [dbo].[t_libro_diario] WHERE [id_asiento] = @Original_id_asiento
GO

CREATE PROCEDURE [dbo].[eliminar_cuenta]
(
	@Original_id_cuenta int
)
AS
	SET NOCOUNT OFF;
DELETE from t_cuentas where id_cuenta = @Original_id_cuenta
GO

create view [dbo].[balance]
as
select detalle , debe, haber, dbo.suma_saldo(debe,haber) as deudor, dbo.suma_saldo(haber,debe) as acreedor
from libro_mayor
where (detalle not like '%-----%')
GO

CREATE PROCEDURE [dbo].[insertar_diario]
(
	@fecha date,
	@detalle varchar(100),
	@debe varchar(15),
	@haber varchar(15)
)
AS
	SET NOCOUNT OFF;
INSERT INTO [dbo].[t_libro_diario] ([fecha], [detalle], [folio], [debe], [haber]) VALUES (@fecha, @detalle, dbo.folio(@detalle), @debe, @haber)
GO
select * from t_libro_diario